.footer {
    margin-left: auto;
    outline: none;
    color: #d7cac1db; 
    margin: 20px;
    margin-left: 35px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 13px;
}

.footer button:hover {
    color: rgb(114, 12, 12);
}