.todo-input {
    margin: auto;
    margin-top: 0px;
    width: 90%;
    max-width: 40rem;
  }

.todo-input form {
    display: flex;
    align-items: center;
    padding: 37px;
}
.todo-input input[type="text"]{
    border: none;
    width: 100%;
    margin-left: 10px;
    font-size: 15px;
}

.todo-input input[type="text"]:focus{
    outline: none;
    color:rgb(81, 35, 3);
}