.todos {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.todos ul {
  list-style: none;
  padding-inline-start: 0px;
  max-height: 255px;
  overflow-y: auto;
}

.todos ul::-webkit-scrollbar {
  width: 0.3em;
  color: aqua;
}
.todos ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(238, 230, 221);
}

.todos ul::-webkit-scrollbar-thumb {
  background-color: #a47373;
  outline: 1px solid rgb(238, 230, 221);
  border-radius: 8px;
}

.todos li {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  margin-left: 30px;
  margin-right: 30px;
  height: 50px;
  padding-top: 30px;
}

.todos li:last-child {
  border-bottom: none;
}
