.todos {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .todos ul {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    padding-inline-start: 0px;
  }
  
  .todos li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }